<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ablanco.tonsofdamage">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".TODApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">

        <activity
            android:name=".splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".splash.SetupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".home.HomeActivity"
            android:label="@string/title_home"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentStatusBarTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".champions.ChampionDetailActivity"
            android:label=""
            android:parentActivityName=".home.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentStatusBarTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".home.HomeActivity" />
        </activity>
        <activity
            android:name=".video.VideoPlayerActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".champions.ChampionSkinDetailActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".champions.ChampionDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".champions.ChampionDetailActivity" />
        </activity>
        <activity
            android:name=".summoner.SummonerDetailActivity"
            android:label=""
            android:parentActivityName=".home.HomeActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".home.HomeActivity" />
        </activity>
        <activity
            android:name=".summoner.MatchDetailActivity"
            android:label=""
            android:screenOrientation="portrait" />

        <activity android:name=".settings.SettingsActivity"
            android:label="@string/settings"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".home.HomeActivity" />
        </activity>


        <activity android:name=".summoner.MasteriesActivity"
        android:screenOrientation="portrait"/>

        <activity android:name=".summoner.MasteryDetailActivityDialog"
            android:theme="@style/AppTheme.Transparent"
            android:screenOrientation="portrait"/>

        <activity android:name=".summoner.RunesActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".home.PlayerViewDialogActivity"
            android:theme="@style/AppTheme.Transparent"
            android:screenOrientation="portrait"/>

        <activity android:name=".items.ItemDetailDialogActivity"
            android:theme="@style/AppTheme.Transparent"
            android:screenOrientation="portrait"/>

        <activity android:name=".summoner.RuneDetailDialogActivity"
            android:theme="@style/AppTheme.Transparent"
            android:screenOrientation="portrait"/>
    </application>

</manifest>